/*상속 인가?*/
body {
/*     width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'Paytone One',sans-serif;
}


/*UI/window container*/
.form_border1 {

    position: absolute;

    width: 500px;
    height: 100px;
    border: 2.4px solid #181425;
    background-color: #EEA468;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.form_border2 {
    width: 99%;
    height: 97%;
    background-color: #B96F50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_border3 {
    width: 98%;
    height: 93%;
    border: 2.4px solid #181425;
    background-color: #EAD4AA;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_border4 {
    width: 98.7%;
    height: 97%;
    background-color: #C28669;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_container{
    width: 97%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user_name_text{
    font-size: 19px;
    color: white;
    text-shadow: 0.5px 0.4px 0.5px black; 
    margin-right: 7px;
}
.input_user_name {
    font-size: 15px;
    height: 30px;
    width: 250px;
    background-color: #E7A873;
    border: none;
    box-shadow: inset 0px 1px 3px 0.5px black;
    color: white;
    text-shadow: 0.5px 0.4px 0.5px black; 
    font-family: 'Paytone One',sans-serif;
    justify-content: center;
    text-align: center;
}
.input_user_name:focus {
    outline: 1px solid white;
}

.button_container {
    width: 98%;
    display: flex;
    flex-direction: row;
    text-shadow: 0.5px 0.4px 0.5px black; 
    color: white;
    font-size: 10px;
    height: 30%;
}
.back_btn_container1 {
    cursor: pointer;
    text-align: center;
    width: 50%;
    height: 20px;
    border: 2px solid #181425;
    background-color: #EAD4AA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.back_btn_container2 {
    width: 99%;
    height: 18px;
    background-color: #E7A873;
}
.create_btn_container1{
    cursor: pointer;
    margin-left: 5px;
    text-align: center;
    width: 50%;
    height: 20px;
    border: 2px solid #181425;
    background-color: #EAD4AA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create_btn_container2{
    width: 99%;
    height: 18px;
    background-color: #E7A873;
}